*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: random;
  src: url('./Deep_Shadow.ttf');
}

.task-app {
  height: 100vh;
  background: #1b1b32;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 50px;
}

.title{
  font-family: random;
}


h1{
  font-size: 30px;
  color: #fff;
}

.task-main-container {
  width: 600px;
  min-height: 500px;
  border-radius: 10px;
  background: rgb(94, 106, 234);
  color: #fff;
}

h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: anywhere;
    margin: 10px;
    }




